.rightPaneBox{
    flex: 3;
    font-family: sans-serif;
    overflow-y: auto;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
}

.rightPanecontainer{
    padding: 20px 20px 0 0 ;
    align-items: center;
    margin-left: 20px;
}

.addContainer{
    margin-top: 10px;
    font-family: sans-serif
}

.sponsered{
    font-size: 20px;
    font-weight: bold;
    color: rgb(75, 74, 74);
}

.adImage{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.birthdayContainer{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.birthdayImage{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.birthdayText{
    margin-top: 20px;
}

.adtextdiv{
    align-items: center;
    margin-top: 10px;
    text-align:justify;
}

.onlineFriend{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 7px 3px 13px -5px rgba(0,0,0,0.58); 
    box-shadow: 7px 3px 13px -5px rgba(0,0,0,0.58);
    border-radius: 10px;
    margin-bottom: 10px;
}

.onlineFriendImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
}

.onlineFriendImgContainer{
    display: flex;
    position: relative;
}

.onlineStates{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lime;
    position: absolute;
    top: 30px;
    right: 0;
    border: 2px solid white;
}

.onlineFriendName{
    margin-left: 12px;
}